name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name:  Checkout do reposit贸rio
        uses: actions/checkout@v3

      - name:  Configurar JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name:  Build do projeto
        run: mvn clean package -DskipTests

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name:  Checkout do reposit贸rio
        uses: actions/checkout@v3

      - name:  Configurar JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name:  Start PostgreSQL
        run: |
          docker run --name postgres -e POSTGRES_USER=postgres -e POSTGRES_PASSWORD=postgres -e POSTGRES_DB=payments -p 5432:5432 -d postgres
          echo "Aguardando PostgreSQL iniciar..."
          sleep 10  # Espera 10 segundos para garantir que o banco esteja pronto

      - name:  Verificar se o banco de dados est谩 rodando
        run: docker ps -a

      - name:  Executar testes automatizados
        env:
          SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/payments
          SPRING_DATASOURCE_USERNAME: postgres
          SPRING_DATASOURCE_PASSWORD: postgres
        run: mvn test -X  # Adiciona logs detalhados para depura莽茫o

  sonar:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name:  Checkout do reposit贸rio
        uses: actions/checkout@v3

      - name:  Configurar JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name:  Analisar qualidade do c贸digo com SonarQube
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn sonar:sonar -Dsonar.projectKey=api-finguard-payments -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${{ secrets.SONAR_TOKEN }}

  docker:
    runs-on: ubuntu-latest
    needs: sonar
    if: github.ref == 'refs/heads/main'

    steps:
      - name:  Checkout do reposit贸rio
        uses: actions/checkout@v3

      - name:  Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name:  Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name:  Construir e publicar imagem Docker
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/api-finguard-payments:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/api-finguard-payments:latest